<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>HdmMsg.html</welcome-file>
    <welcome-file>ReportGenerator.html</welcome-file>
  </welcome-file-list>
    
  <!-- Servlets -->
  
   <servlet> 
     <servlet-name>login</servlet-name> 
     <servlet-class>de.hdm.gruppe2.server.LoginServiceImpl</servlet-class> 
   </servlet> 
  
   <servlet-mapping> 
     <servlet-name>login</servlet-name> 
     <url-pattern>/hdmMsg/login</url-pattern> 
   </servlet-mapping> 
    
   <servlet> 
     <servlet-name>msgServlet</servlet-name> 
     <servlet-class>de.hdm.gruppe2.server.MsgServiceImpl</servlet-class> 
   </servlet> 
    
   <servlet-mapping> 
     <servlet-name>msgServlet</servlet-name> 
     <url-pattern>/hdmMsg/msgServlet</url-pattern> 
     <url-pattern>/reportGenerator/msgServlet</url-pattern> 
   </servlet-mapping> 
    
   <servlet> 
     <servlet-name>reportGenerator</servlet-name> 
     <servlet-class>de.hdm.gruppe2.server.report.ReportImpl</servlet-class> 
   </servlet> 
   
   <servlet-mapping> 
     <servlet-name>reportGenerator</servlet-name> 
     <url-pattern>/hdmMsg/reportGenerator</url-pattern> 
     <url-pattern>/reportGenerator/reportGenerator</url-pattern> 
   </servlet-mapping> 

</web-app>
