/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background: rgba(131,150,180,0.3);


}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 1000px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#header_wrap {
	position: absolute;
	top: 4em;
	left: 0em;
	width: 100%;
	height: 4em;
	

	
}

#content_wrap {
	position: absolute;
	top: 3em;
	left: 0em;
	width: 100%;
	height: 44em;
	/*border: solid;*/
	background: rgba(131,150,180,0.3);

}

.listbox {
	width: 16em;
	height: 100%;
}

.popup-title {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 50px 10px;
  width: 205px;
  vertical-align: bottom;
  color: #ffffff;
  /*background: #619eff;*/
  font-weight: bold;
  
  

}
	
.gwt-MenuBar-vertical .gwt-MenuItem {
  	padding: 2px 40px 2px 1px;
  	width: 165px;
  	color: #20ac8e;
}


.listbox{
	font-family: bradley hand;
	font-size:15px;
	position: relative;       
    left: 9px; 
    top: 9px;
    width: 30em;
    height: 30em;
  	background-color:rgba(152,251,152,0.3);
}
	
	
.new-chat{
	font-family: bradley hand;
	font-size:15px;
	height: 4em;
	width: 160px;
	position: relative; 
	top: 10px;
	background: rgb(66, 184, 221);
	color: white;
    border-radius: 4px;
 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	
}
	
	

.delete-chat{
	font-family: bradley hand;
	font-size:15px;
	height: 4em;
	width: 160px;
	position: relative;
	top: 10px;
	background: rgb(202, 60, 60);
	color: white;
    border-radius: 4px; 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	
}

.send-chat{
	font-family: bradley hand;
	font-size:15px;
	height: 4em;
	width: 160px;
	position: absolute;
	bottom: 6em; 
	right:3px;
	background: rgb(28, 184, 65);
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.textbox-chat{
	font-family: bradley hand;
	position: absolute;
	bottom: 6em;
	left: 40em;
	right: 50em; 
	width: 40em;
	height: 3em;
}


	
	
.popup-dialogbox-chat{
	font-family: bradley hand;
	background: rgb(66, 184, 221);
	color: white;
}

.popup-listbox-chat{
	font-family: bradley hand;
	font-size: 20px;
	width: 20em;
	
	
}

.popup-title-chat{
	font-family: bradley hand;
	font-size: 48px;
}

.popup-contacts-chat{
	font-family: bradley hand;
	font-size: 20px;
}	

.popup-recipients-chat{
	font-family: bradley hand;
	font-size: 20px;
}	


